/*  STYLE GUIDE
Type every rule in a new line.

Your id and class names should make sense when read by someone else.

Avoid overly-specific selectors. For example, instead of "body #image-style", type "#image-style" instead.

Add code for common tags such as body and HTML at the top of the file.

CSS code should be typed in the top-to-bottom order of the webpage. Basically, the CSS code should start with the beginning of your
webpage and end with the footer.

Put codes of similar elements together. Every code related to the footer, for example, should be in one spot.
Place tabs every 3 spaces.

Don't put multiple selectors in one line.

Add comments such that the reader knows exactly which part of the web page's CSS they are reading.
For example, on top of the code for a div element containing a set of images, write a comment
giving some small information about the code.
*/

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

header{
    background-color: rgb(36, 36, 36);
    padding-top: 1%;
    padding-bottom: 0.4%;
    position: sticky;
    z-index: 5;
    top: 0px;
    margin: 0;
    box-shadow: 0px 3px 3px black;
    display: block;
}

a{
    text-decoration: none;
}

#logo-div img
{
    width: 80px;
    height: 50px;
}

#logo-div a{
    position: absolute;
    margin-left: 3%;
    top: 15px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family:'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* navigation bar buttons */
.nav a{
    font-size: 20px;
    padding-left: 1.33vw;
    padding-right: 1.5vw;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-left: 1.3vw;
    margin-right: 0.1vw;
    transition: 0.15s, box-shadow ease 0.3s;
}

.nav a.active{
    background-color: rgb(222, 59, 59);
}

.nav a:hover.active{
    box-shadow: 0px 0px 15px rgb(219, 89, 89);
}

.nav a:hover:not(.active){
    box-shadow:0px 0px 15px rgb(90, 90, 90);
    background-color: rgb(80,80,80);
}

/* line under the navigation bar's buttons */
#hr1{
    width: 60%;
    border: none;
    height: 5px;
    margin-bottom: 0;
    margin-top: 1%;
    background: rgb(255, 255, 255);
}

/* footer */

#hr2{
    width: 100%;
    border: none;
    height: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    background:linear-gradient(to right, #f34079 40%, #fc894d);
}

footer{
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 15px;
    margin-top: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:rgb(58, 58, 58);
    display: block;
}

footer a{
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    margin-right: 8px;
}

.vertical-line{
    border-left: 1px solid white;
    height: 170px;
}

.footer-div{
    display: block;
    padding-left: 3%;
}

.footer-div p{
    margin: 10px;
}

.column-div{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

#contact-us{
    text-decoration: underline;
}

#sentence{
    padding-bottom: 30%;
}